body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw; 
  height: 100vh;
  position: relative; /* so that info-box can be positioned around the map with absolute*/
}

.location-icon{
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.loader {
  min-height: 100vh; /* 1. important to give div 100% height to fill out the entire page*/


  /*2. make this current container to be a flex. Then you can arrange items (loading text) within the container(.loader div) in flex style*/
  display: flex; 

  /*3. pick your main-axis: top to bottom*/
  /* because we want to align spinner on top of the loading text, hence we've chosen column*/
  flex-direction: column;

  /*4. pick how items will be arranged in your main-axis: center  */
  justify-content: center;

  /*5. pick how items will be arranged in the cross-axis: center*/
  align-items: center;

}

.loader img {
  width: 100px;
}

.location-info {
  /* 1. positioning the box */
  position: absolute;
  top: 80px;
  right: 50px;

  /* 2. container styling */
  min-height: 200px; /* because contents are dynamic (grow & shrink) */
  width: 400px;
  border-radius: 10px;


  /* 3. content item styling */
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 18px;
  padding: 20px;
}

.location-info ul {

  /* 1. positioning the box */
  margin-top: 10px;

  /* 3. content item styling */
  list-style-type: none;
  padding: 0;
}

.location-info li {

  /* 3. content item styling */
  padding: 5px 0;
}

.header {

  /*1. positioning the container */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  /* 3. content item styling */
  background-color:firebrick;
  color: white;
  padding: 10px;

}

.header h1 {
  /*3. content item styling*/
  margin: 0;
  padding: 0;
  text-align: center;
}