.video {
  /* debugging*/
  /* border: 5px solid red; */

  background-color: white;

  /* follow parent - change measurement according to it*/
  position: relative;
  width: 100%;
  height: 100%;

  scroll-snap-align: start;
}

.video__player {
  /* debugging*/
  background-color: red;

  object-fit: fill;

  width: 100%;
  height: 100%;
}
